@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body { height: 100% ; scroll-behavior: smooth; background-color: rgb(23,23,23); }

.main-container {
  width: 100%;
  max-width: 1140px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  cursor: pointer;
}
/* Track */
::-webkit-scrollbar-track {
  background: #171717;
  cursor: pointer;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 15px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
  cursor: pointer;
}

input:focus, textarea:focus, button:focus, radio:focus, checkbox:focus, select:focus, option:focus, a:focus, label:focus{
  outline-color: #eab308;
  outline-style: solid;
  outline-width: 1px;
}
a{
  text-decoration: none;
  color: #eab308;
}

/* .router-link-active{
  color: #eab308;
} */